@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #005bd3;
}

.main-container{
    width: 414px;
    margin: 0px auto;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: #1a1a1a;
    padding: 15px 0px;
}

.bag-search-container{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0px 10px;
}

input{
    padding: 8px 30px;
    border-radius: 6px;
    background: #303030;
    border: 1px solid #616161;
}

.notificationbell-storename{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
}

.notification-bell{
    display: flex;
    align-items: center;
}

.dc{
    background: #36fba1;
    padding: 5px 5px;
    border-radius: 5px;
    color: #26b071;
    font-size: 12px;
}

.alert-container{
    display: none;
    position: fixed;
    padding: 12px;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 60%;
    box-shadow: 2px 2px 15px rgb(0 0 0 / 30%);
    width: 350px;
    right: 40px;
    border-radius: 10px;
    z-index: 1;
    
    
}

.alert-container p{
    background: #f1f1f1;
    text-align: center;
    padding: 20px 5px;
    border-radius: 4px;
    font-weight: 600;
}

.alert-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 600;
    
}

.dc-sub-menu{
    display: none;
    position: fixed;
    list-style: none;
    padding: 5px 10px;
    /* border: 1px solid #aaa; */
    background: #fff;
    box-shadow: 2px 2px 15px rgb(0 0 0 / 30%);
    width: 320px;
    right: 15px;
    top: 0;
    margin-top: 19%;
    border-radius: 15px;
    z-index: 1;
    line-height: 2;
    font-size: 1rem;
}

.dc-submenu-lists{
    list-style-type: none;
    color: #717171;
    font-weight: 600;
}
.dc-submenu-lists > li{
    padding: 2px 6px;
    border-radius: 8px;
    margin-top: 4px;
}

.store-name-active{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    border-radius: 8px;
    
}

.all-store{
    display: flex;
    align-items: center;
    gap: 8px;
}

.david{
    display: flex;
    flex-direction: column;
    
}

.david > small{
    margin-top: -10px;
    font-weight: 100;
}



.select-plan-container{
    background: #1a1a1a;
    color: #e3e3e3;
    padding: 15px 50px;
    margin-top: 8%;
}

.select-plan-container > p{
    padding: 10px 0px;
}

.setup-guide-container{
    background-color: #ffffff;
    margin-top: 5%;
    padding: 12px 13px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
}

.setup-submenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    color: #646464;
}

    .settings{
        display: none;
    }


    .settings > .settings-stylying{
        /*background: #f3f3f3;*/
        padding: 10px 6px;
        border-radius: 10px;
    }

    .pd{
        padding: 5px 32px;
    }

    .settings-submenu{
        
        display: none;
        
    }



    .pd p{
        padding: 10px 0px;
    }

    .pd img{
        position: relative;
        float: right;
        top: 0;
    }

    .submenu-active{
        display: block;
        background: #f3f3f3;
    }

    

.pad{
    padding: 10px 0px;
}

.elipse{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}



/*icons*/

.xicon{
    position: relative;
    float: right;
    top: -35px;
    right: -8px;
    
}

.search-icon{
    position: absolute;
    left: 60px;
    line-height: 53px;
    font-size: 1.3rem;
}

.arrow-down{
    transition: 0.3s linear;
}


/* buttons styling*/
.plan-button{
    padding: 6px 15px;
    border-radius: 6px;
    border: none;
    background: white;
    color: #4c4c4c;
    font-weight: 600;
}

.plan-button > a{
    color: #4c4c4c !important;
}

.import-button{
    padding: 10px 12px;
    color: #323232;
    border-radius: 10px;
    border: none;
}

.settings-btn {
    padding: 10px 12px;
    background: #404040;
    color: #f6f3f6;
    border-radius: 10px;
}

.double-buttons-container{
    display: flex;
    flex-direction: column;
}




.active{
    display: block;
}
.inactive{
    display: none;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.3s;
}

.rotate{
    transform: rotate(-180deg);
    transition: 0.3s;
}